<nav class="orange" role="navigation">
    <div class="nav-wrapper container">
        <a href="#/" class="brand-logo left">Twitter Analyzer</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="" ng-click="scrollTo('intro')">About</a></li>
            <li><a class="white-text" href="" ng-click="scrollTo('analyze')">Analyze</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav white-text">
            <li><a href="" ng-click="scrollTo('intro')">About</a></li>
            <li><a href="" ng-click="scrollTo('analyze')">Analyze</a></li>
        </ul>
        <a href="" ng-click="showSideNav()" data-activates="nav-mobile" class="button-collapse md-primary"><i class="mdi-navigation-menu white-text"></i></a>
    </div>
</nav>
<div class="section no-pad-bot valign-wrapper" id="index-banner">
    <div class="container">
        <div class="row center">
            <h2 class="header col s12 light black-text">Find out what your friends are really saying</h2>
        </div>
        <div class="row center valign">
            <a href="" class="btn-large red darken-3 waves-effect waves-light" ng-click="scrollTo('intro')">Learn More</a>
        </div>
        <br>
        <br>
    </div>
</div>
<div class="container features">
    <div class="section">
        <div class="row">
            <div id="intro" class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center sentiment-icon icon"></h2>
                    <h2 class="center">Sentiment Analysis</h2>
                    <p>Natural Language Processing technology to better understand the sentiment of any twitter account.</p>
                </div>
            </div>
            <div id="intro" class="col s12 m6">
                <div class="icon-block">
                    <h2 class="feature-icon icon"></h2>
                    <h2 class="center">Some other Analysis</h2>
                    <p>Explanation about feature. Some text relevant to this feature. Maybe about data visualization..</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="orange">
    <div class="container">
        <div class="section">
            <div class="row">
                <div id="analyze" class="col s12 m10 offset-m1">
                    <h2 class="center">Enter your twitter handle to get started.</h2>
                </div>
                <form class="col s12 m10 offset-m1" name="submitHandle" ng-submit="loadTweets()">
                    <span class="left">
                    <div ng-show="loadingTweets" class="preloader-wrapper active">
                    <div class="spinner-layer spinner-green-only">
                     <div class="circle-clipper left">
                     <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                    </div>
                    </div>
                </span>
                    <div class="input-field col s8">
                        <span id="atSymbol" class="prefix" ng-show="!loadingTweets">@</span>
                        <input id="handle" type="text" name="userInput" ng-model="userInput.text" class="white-text twitterHandle" required>
                        <label for="handle" id="handle">twitter handle</label>
                    </div>
                    <div class="col s4">
                        <button class="btn waves-effect waves-light" type="submit">Analyze
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
</footer>
