#brandLogo {
    font-size: 1.3em;
}

@media only screen and (min-width: 320px) {
    div.tweetHeading {
        h1.handle {
            font-size: 3.3rem;
        }
    }
}

@media only screen and (min-width: 601px) {
    #brandLogo {
        font-size: 2.1em;
    }
}

h2 {
    font-size: 2em;
}

@media only screen and (min-width: 601px) {
    h2 {
        font-size: 3.56em;
    }
}

#intro {
    min-height: 35em;
}

.icon {
    height: 4em;
}

.sentiment-icon {
    background-image: url('../images/faces.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.classify-icon {
    background-image: url('../images/container.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hashtag-icon {
    background-image: url('../images/hashtag.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer {
    padding-top: 3em;
}

#atSymbol {
    margin-top: 0;
}

#handle,
.twitterHandle {
    font-size: 1.5em;
}

#analyze > h2 {
    margin-bottom: 1em;
}

.loadingTweets {
    padding-top: 15em;
    z-index: 999;
}

.tweetWrapper {
    position: absolute;
    top: 5em;
    width: 100%;
    z-index: 1;
}
/*
div.heading {
    position: relative;
    padding-bottom: 1em;
    z-index: 1;
}

*/

.tweetHeading {
    padding-top: 1em;
}

.overlay {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 1000vh;
    margin-top: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 0;
}

li.collection-item {
    background-color: #fff;
    transition: background-color .3s ease;
    cursor: pointer;
}

li.collection-item:hover {
    background-color: #64A8D9;
}

@media only screen and (min-width: 601px) {
    .overlay {
        top: 64px;
    }
}

#blueBackground {
    background-color: #64A8D9;
    height: 1000vh;
}
/* label color */

.input-field label {
    color: #000;
}
/* label underline color */

.input-field input {
    border-bottom: 1px solid #000;
}
/* radio button color*/

.input-field input[type=radio]:checked + label:after {
    border: 2px solid #FFF;
    background-color: #FFF;
}

.input-field input[type=radio]:not(:checked) + label,
.input-field input[type=radio]:checked + label {
    font-size: 0.8em;
}
/* label focus color */

.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: normal;
}

.resultsBar {
    margin-top: -10px;
}
/* progress bar */

.progress {
    background-color: #D0E4F3;
}

.progress .indeterminate {
    background-color: #40c4ff;
}

.timelineSelection {
    margin-bottom: 3em;
}
