nav#nav {
    background: #EF8555;
    li {
        cursor: pointer;
    }
    a.brand-logo {
        color: #65A9DA;
        font-weight: bold;
        text-shadow: 4px 4px 0px #fff;
        cursor: pointer;
    }
    ul {
        margin-right: 4em;
    }
}

section {
    height: 34em;
    .btn-large {
        width: 12em;
        margin-top: 15em;
    }
    div.large-img {
        background-image: url('../images/Twitter-flat-analytics.jpg');
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

section.features {
    padding-top: 2em;
    div.icon {
        height: 16em;
    }
    div.sentiment-icon {
        background-image: url('../images/sentiment.png');
        background-repeat: no-repeat;
    }
}

section#analyze {
    background-color: #65A9DA;
    padding-top: 2em;
    #handle {
        height: 3.5rem;
        width: 100%;
        font-size: 3rem;
    }
    span.left {
        position: relative;
        top: -2em;
        left: 15em;
        .preloader-wrapper {
            margin-top: 3em;
        }
    }
    button {
        margin: 2em 0 0 2em;
    }
}

.title {
    font-style: bold;
}